<section class="cart">

    <% if(session.cart){%>
    <div class="w-50 order container py-5">

        <div class="d-flex align-items-center">
            <img src="/img/cart-black.png" alt="">
            <h2 class="fw-bold mx-4">Order Summary</h1>
        </div>
        <hr>
            <div class="pizza-list py-2">

                <% for(let pizza of Object.values(session.cart.items)){%>
                    <div class="d-flex align-items-center">
                        <img class="w-25" src="/img/<%= pizza.item.image %>" alt="">
                        <div class="ms-4 flex-grow-1">
                            <h1><%= pizza.item.name %></h1>
                            <span><%= pizza.item.size %></span>
                        </div>

                        <span class="flex-grow-1"><%= pizza.qty%></span>
                        <span class="fw-bold fs-5 flex-grow-1"><%= pizza.qty * pizza.item.price %></span>

                    </div>
                <% } %>    

            </div>
        <hr>

        <div class="text-end py-3">
            <div >
                <span class="fs-4 fw-bold">Total Amount:</span>
                <span class="fs-4 amount fw-bold ms-2">₹<%= session.cart.totalPrice %></span>
            </div>
        </div>

        <% if(user){%>
        <div class="mt-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Phone Number" aria-label=" Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Address" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <button class="btn-primary  my-4 py-2 px-4 rounded-pill" type="submit">Order Now</button>
        </div>
        <% } else{%>
        <button class="btn-primary  my-4 py-2 px-4 rounded-pill" type="submit"><a href="/login">Logintocontinue</a></button>
        <% }%>    
    </div>

    <%} else{%>
    <div class="empty-cart">

        <div class="container mx-auto text-center">

            <h1 class="fw-bold py-4">Cart Empty 🥺</h1>
            <p class="mt-3">You probably haven't ordered a pizza yet. <br> To order a pizza, go to the main page</p>
            <img class="w-25 my-5" src="/img/empty-cart.png" alt="">
            <div>
                <a href="/" class="d-inline-block my-4 py-2 px-4 rounded-pill btn-primary"
                    style="text-decoration: none;">Go back</a>
            </div>
        </div>
        
    </div>
    <% } %> 

</section>